/**Hello!
 * The main thing to remember when viewing this is to remember that the base css is built for a width between 430 and 800 px. 
 * Everything else is in media queries
 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**general stuff */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background: rgb(255, 172, 145);
}

/**the real sider man image on the top B) */
.logo img {
    max-height: 60px; /**without this it would be MASSIVE just like real sider man */
    padding-top: 10px; /**my attempt at centering it */
}

/**general stuff for my boy, sider man (the drawing) */
img {
    max-width: flex;
}

/**general margin formatting for the boxes */
h2 {
    margin-bottom: 15px;
}

/**gets rid of dots between the list at the top on the bar at the top  and footer*/
ul {
    list-style-type: none;
}

/**general formatting horizontally (makes it so everything is not always on the edge of the screen)*/
.container {
    display: grid;
    max-width: 1100px;
    margin: 0 auto; /**centers it */
    padding: 0 30px;

    grid-template-columns: none;
}


/**top bar formatting */
.navbar {
    background: rgb(217, 54, 33);
    color: white;
    height: 60px; /**makes it shorter and cooler B) */
}

/**this formats the text that shows up then the image does not but sider man always shows up */
.navbar .logo {
    font-size: x-large;
    font-weight: bolder;
}

/**gets rid of the ugly blue underline on links. Sider man is not ugly, nor blue, nor underlined */
a {
    color: white;
    text-decoration: none;
}

/**makes it so when you hover over one of these things on the top bar or footer then it becomes light red */
a:hover{
    color: rgb(206, 160, 154);
}

/**lines up the list horizontally */
.navbar ul {
    display: flex;
}

/**spaces out horizontal */
.navbar ul li {
    margin-left: 20px;
}

/**puts the list on to the top bar */
.navbar .container {
    display: flex; /**puts it up there */
    justify-content: space-between; /**puts it on the right */
    align-items: center; /**(up and down) */
    height: 100%; /**helps to center it */
}

/**makes text on top bar bold(er) wow I never could have guessed */
.nav {
    font-weight: bolder;
}

/**for the top part with the drawn sider man photo */
.header {
    background-color: #FF5349;
    color: white;
    min-height: 400px;
}

/**makes the little indent at the start of the paragraph */
.header p {
    text-indent: 5%;
}

/**for top header */
.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

/**makes it so the image on the top bar isnt as massive as something big that I cant think of */
.header img {
    max-width: 400px;
    border-radius: 15px;
}

/**just for the header on the left most box */
.box-.box-:nth-of-type(1) h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:599;
}

/**makes each box stand out */
.box-:nth-of-type(1) {
    font-size: 23px;
}

.box-:nth-of-type(2) {
    font-size: 19px;
}

.idk h1 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 30px;
}


/**deals with resizing */
@media (min-width: 800px){
    .header .container {
        /**display: flex; */

        /**top bar. Makes it so bottom text is bigger and top text and image stuff */
        display: grid;
        grid-template-columns: 9fr 5fr;
        grid-template-rows: auto auto;

        /**vertically */
        align-items: center;
        padding: 20px 0px;
        font-size: 20px;
    }

    .item:nth-of-type(1) p{
        text-indent: 0%;
        padding-top: 7px;
        font-size: 13px;
        color: #ffd8d6;
    }

    /**horizontally (for the image) */
    .item:nth-of-type(2){
        justify-content: right;
        display: flex;
    }

    /**makes text on bottom span two rows of table! */
    .item:nth-of-type(3){
        padding-top: 10px;
        grid-column: 1/3;
    }

    /**makes the first box bigger */
    .box-:nth-of-type(1){
        grid-row: 1/3;
    }
    
    /**lets me make the first box bigger */
    .boxes .container {
        display: grid; 


        /**it looks strange if it is not even vertically */
        grid-template-columns: 1fr 1fr;


        /**auto moment */
        grid-template-rows: auto auto;
    }

    /**makes it bigger when the scren is bigger */
    .idk h1{
        font-size: 50px;
    }

    .idk .box- {
        flex-direction: column;
        margin: 5px 35% 30px;
    }
}


/**the site kinda breaks under 450 px so in case he tests like up to 150 it will work ok I guess */
@media (max-width: 430px) {
    
    body { 
        background-color: #FF5349; 
    }

    .navbar {
        background-color: #FF5349;
    }

    /**they take up too much space  */
    .logo img {
        height: 0px;
    }

    .header img {
        width: flex;
    }

    .footer img {
        height: 0px;
    }
    
}

/**if you go too small, then no more Sider man art for you >:) */
@media (max-width: 150px) {
    
    img {
        height: 0px;
    }
    
}

/**deals with resizing before it gets small I dont need it :)
@media (max-width: 800px){
    .box- {
        min-width: flex;    
    }
}

/**box formatting */
.box- {
    flex: 1;
    background: rgb(251, 157, 126);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgb(126, 0, 0);
    padding: 15px 20px;
}


/**formats the text on the pages under construction that are totally not all the same */
.constuction {
    background-color: #FF5349;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom:100vh;
}


/**does the same thing that it does above. gets rid of all the ugly blue underline */
.constuction a {
    color: white;
    text-decoration: none;
}

/**makes it change colour when hovered over  */
.constuction a:hover{
    color: rgb(255, 234, 227);
}


.cont {
    font-size: 15px;
    background-color: black;
    color: rgb(255, 215, 215);
    padding: 20px;
    text-align: left;
}


.cont img {
    max-width: 30px;
}

/**
.cont ul {
    display: flex;
}

.footer {
    align-items: center; /**(up and down) 
}


.cont ul li {
    margin-left: 100px;
    align-items: center;
}
*/

/**lines up the list horizontally */
.footer ul {
    display: flex;
}

/**spaces out horizontal */
.footer ul li {
    margin-left: 20px;
}

/**puts the list on to the top bar */
.footer .container {
    display: flex; /**puts it up there */
    justify-content: space-between; /**puts it on the right */
    align-items: center; /**(up and down) */
    height: 100%; /**helps to center it */
}

/**formatting for link on form */
.sub a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.sub a:hover {
    color: #FF5349;
}

/**centers form in the box */
.form {
    display: flex;
    flex-direction: column;
    align-items: right;
}

/**overwirites like everything if its not contained in this media query. It is now officially speccial */
@media (max-width: 800px) {
    
    .idk .box- {
        display: contents;
    }

    .idk .form {
        margin: 0 20%;
    }
    
}