
/**all this one from the inspect element menu */
.toprow {
    height: 10vh;
    background-color: rgb(33, 36, 88);
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
}

.toprow img {
    height: 10vh;
}

.toprow h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 5vh;
}

.container- {
    display: flex;
    align-items: center;

    /**makes it so the login and register buttons not on edge of screen */
    margin-right: 12.5%;
}

.container- h1 {
    padding-right: 10px;
}


.container- input {
    font-size: 3.2vh;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgb(242, 191, 168);
    border-color:lightslategray;

    /**spaces them out */
    margin-right: 12px;

    /**makes it so button a lil bigger */
    padding: 3px;
}


/**otherwise it bleeds into the navbar */
@media (max-width:900px) {
    .toprow h1 {
        font-size: 4vh;
    }

    .toprow img {
        height: 0vh;
    }
}


.main {
    background-color:darkred;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    /**spaces it out a bit, not margin because colour would be different. */
    padding-top: 10px;
}



.main h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8vh;
    font-weight: 500;
}

.main h3 {
    font-size: 3vh;
}

.main img {
    width: 100%;
}

.mbbody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.mbbody img {
    width: 100%;
}

/** top title */
.mbtitle h1{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6vh;
    font-weight: 500;
    padding-left: 5%;
}

/**top subtitle */
.mbtitle h3 {
    padding-left: 5%;
    font-size: 2.8vh;
    padding-bottom: 1vh;
}

/**title inside box */
.mbbody h2 {
    font-family: Impact, Helvetica, sans-serif;
    font-size: 3vh;
    font-weight: 500;
}

.mbbody .box- {
    font-size: 2.6vh;
}


/**fixes problem from other thing */
@media (min-width: 800px) {
    .box-:nth-of-type(1) {
        grid-row: 1/1;
    }
}


/**When the screen is that small, the image takes up too much space so I just vaulted it */
@media (max-width:500px) {
    .main {
        display: flex;
        flex-direction: column;
    }


}

@media (max-width:420px) {
    .mbbody {
        display: flex;
        flex-direction: column;
    }
    .toprow h1 {
        font-size: 20px;
    }

    .toprow input {
        font-size: 15px;
    }
}

.box- {
    background-color: darkred;
    box-shadow: 0px 5px 7px white;
    color: white;
}